body{
    font: 500 18px lato, sans-serif;
    background-color: rgb(237,237,237);
}
.TopMenu {
    background-color: rgb(198,221,237);
    height: 150px;
}
.TiteSite{
    font-size: 40px;
    font-weight: 100;
    color: #272727;
    font-family: 'Lobster', cursive;
}
.MenuTopGauche{
    text-align: center;
}
.MenuTopDroite{
    text-align: right;
    padding-right: 20px;
    width:22%; 
}
.css-input { 
    border-color:#cccccc;
    font-size:18px; 
    border-radius:12px; 
    border-width:3px; 
    padding:8px; 
    border-style:solid; 
    box-shadow: 0px 0px 0px 0px rgba(42,42,42,.100);
    width: 75%;
} 
.css-input:focus { outline:none; } 
table{
    border-collapse: collapse;                
}            
td{
    //border-style: dashed;
}

.affiche{
    width: 100px;
    height: 150px;                 
}
.TitreSpectacle{
    font-weight: bold;
}
.NomArtiste{

}
.SalleSpectacle{

}
.DateSpectacle{
    font-style: italic;
}
.AjouterPanier{
    text-align: right;
    padding-right: 20px;
}
.CBsection{
    vertical-align: text-top;
    width: 15%;
    padding-left: 25px;
    padding-top: 25px;
    background-color: rgb(220, 228, 234);
}
.TitreCB{
    color: rgb(152,153,167);
    font-weight: 800;
    font-size: 20px;
}
.SpectacleSection{
    width: 100%;
    background-color: rgb(237,237,237);
    border-collapse: separate;
    border-right-style: none;
    border-left-style: none;
    border-spacing: 10px;
}
.Spectacle{
    background-color: white;
}


.PanierItem {
    background-color: white;
    margin-bottom: 20px;
    width: 100%;
}

.PanierItem td {
    border-left: solid black 1px;
    border-right: solid black 1px;
    padding-left: 10px;
    padding-right: 10px;
}

.TitrePanier {
    width: 70%;
}

.BordPanier {
    width: 15%;
}

input[type=number]{
    width: 50px;
    text-align: center;
}


.framePanier {
    width: 85%;
    margin: auto;
    align: center;
    padding-top: 5px;
}

.LoginForm {
    margin: auto;
    margin-top: 20px;
}

.LoginForm tr:last-child td:last-child {
    padding-top: 5px;
    text-align: center;
}

.BoutonVert {
	-moz-box-shadow: 0px 0px 0px 2px #3dc21b;
	-webkit-box-shadow: 0px 0px 0px 2px #3dc21b;
	box-shadow: 0px 0px 0px 2px #3dc21b;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #44c767), color-stop(1, #5cbf2a));
	background:-moz-linear-gradient(top, #44c767 5%, #5cbf2a 100%);
	background:-webkit-linear-gradient(top, #44c767 5%, #5cbf2a 100%);
	background:-o-linear-gradient(top, #44c767 5%, #5cbf2a 100%);
	background:-ms-linear-gradient(top, #44c767 5%, #5cbf2a 100%);
	background:linear-gradient(to bottom, #44c767 5%, #5cbf2a 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#44c767', endColorstr='#5cbf2a',GradientType=0);
	background-color:#44c767;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Verdana;
	font-size:17px;
	padding:10px 10px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.BoutonVert:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #5cbf2a), color-stop(1, #44c767));
	background:-moz-linear-gradient(top, #5cbf2a 5%, #44c767 100%);
	background:-webkit-linear-gradient(top, #5cbf2a 5%, #44c767 100%);
	background:-o-linear-gradient(top, #5cbf2a 5%, #44c767 100%);
	background:-ms-linear-gradient(top, #5cbf2a 5%, #44c767 100%);
	background:linear-gradient(to bottom, #5cbf2a 5%, #44c767 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5cbf2a', endColorstr='#44c767',GradientType=0);
	background-color:#5cbf2a;
}
.BoutonVert:active {
	position:relative;
	top:1px;
}

.BoutonBleu {
	-moz-box-shadow: 0px 0px 0px 2px #9fb4f2;
	-webkit-box-shadow: 0px 0px 0px 2px #9fb4f2;
	box-shadow: 0px 0px 0px 2px #9fb4f2;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #7892c2), color-stop(1, #476e9e));
	background:-moz-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:-webkit-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:-o-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:-ms-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7892c2', endColorstr='#476e9e',GradientType=0);
	background-color:#7892c2;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Verdana;
	font-size:17px;
	padding:10px 10px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
}
.BoutonBleu:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #476e9e), color-stop(1, #7892c2));
	background:-moz-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:-webkit-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:-o-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:-ms-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#476e9e', endColorstr='#7892c2',GradientType=0);
	background-color:#476e9e;
}
.BoutonBleu:active {
	position:relative;
	top:1px;
}

.Facture {
    text-align: center;
    width: 100%
}

.Facture tr td {
    border-collapse: collapse;
    border: 1px solid black;
}

.Facture tr:first-child {
   background-color: rgb(198,221,237); 
}

.Facture tr:last-child td:last-child {
   background-color: rgb(198,221,237); 
   border: 1px double black;
}

.GrosseAffiche {
    height: 256px;
}
